<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="SubFolderDir">
            <Component Id="cmpC6r24mMV7ztiKwmN_n1H60MsM5E" Guid="{88E480D3-4CDA-47B5-97D4-3A959599A907}">
                <File Id="filjhTxMPq2qhTI06oYQtUZDLHnB60" KeyPath="yes" Source="$(var.SubFolderSourceDir)\AU-wp1.jpg" />
            </Component>
            <Component Id="cmpuL7NRRcwKkg3QqnTIydn7nX.Zog" Guid="{169F6139-4F23-410C-B8BB-44F354DBEA1A}">
                <File Id="filQj9EFPz91tdHrFLXC_UWqujHPVw" KeyPath="yes" Source="$(var.SubFolderSourceDir)\AU-wp3.jpg" />
            </Component>
            <Component Id="cmpDCcQOEhBHorDa_8BdPxtzUHMX4E" Guid="{3C588DD0-3FED-448E-B70B-1003F4B00B72}">
                <File Id="filVEN._2N0MyePLbGuaMBIiHOnmaY" KeyPath="yes" Source="$(var.SubFolderSourceDir)\AU-wp4.jpg" />
            </Component>
            <Component Id="cmpfSrWI4oKrYiT4c41OlfNyK9LRIs" Guid="{E9AE7A06-93BE-4D4E-99BD-6F8F970897EF}">
                <File Id="filB7c1G26eHsV5CSIvglGqS4jymhs" KeyPath="yes" Source="$(var.SubFolderSourceDir)\CA-wp2.jpg" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="SubFolderComponents">
            <ComponentRef Id="cmpC6r24mMV7ztiKwmN_n1H60MsM5E" />
            <ComponentRef Id="cmpuL7NRRcwKkg3QqnTIydn7nX.Zog" />
            <ComponentRef Id="cmpDCcQOEhBHorDa_8BdPxtzUHMX4E" />
            <ComponentRef Id="cmpfSrWI4oKrYiT4c41OlfNyK9LRIs" />
        </ComponentGroup>
    </Fragment>
</Wix>