<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Fragment>
    
    <!-- Product Components -->
    <ComponentGroup Id="ProductComponents">

      <!-- Shortcut -->
      <ComponentRef Id="MainAppShortcut" />
      
    </ComponentGroup>

    <!-- Installed files -->
	  <DirectoryRef Id="INSTALLFOLDER" FileSource="..\apptoinstall\">

		  <!-- Shortcut to main application -->
      <Component Id="MainAppShortcut" Guid="{0995664D-AE63-4DD6-B894-708A99611370}">

        <Shortcut Id="MainAppShortcut" 
				  Name="DotNetCore_$(var.Platform) App" 
				  Target="[INSTALLFOLDER]ConsoleApp1.exe" 
				  Directory="InstallProgramMenuFolder" 
				  WorkingDirectory="INSTALLFOLDER" 
				  Icon="icon.ico" />

		  <Shortcut Id="MainAppShortcut1"
					Name="TicTacToe Java App"
					Target="[%JAVA_HOME]bin\javaw.exe"
					Arguments='-jar "[INSTALLDIR]TicTacToe-1.1.0.jar"'
					Directory="InstallProgramMenuFolder"
					WorkingDirectory="INSTALLFOLDER"
					Icon="icon.ico"
					/>


		  <!-- Our unique key for this component/shortcut -->
        <RegistryValue Id="RegShortcutKey" Root="HKCU" Key="SOFTWARE\!(loc.ProductNameFolder)" Name="Shortcut" Value="1" Type="integer" KeyPath="yes" />
        
        <!--Remove start menu items -->
        <RemoveFolder Id="RemoveStartMenu" Directory="InstallProgramMenuFolder" On="uninstall" />
        
      </Component>

    </DirectoryRef>
    
  </Fragment>
 

</Wix>
